// Logo

.logo {
    position: fixed;
    min-height: 30vh;
    width: $unit-four;
    background-color: $primary-blue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -53%);
    @include border-radius(25px);
    @include transition(all);

    &__title {
        margin-bottom: 0;
        font-size: 5rem;

        @media (max-width: $screen-tablet) {
            font-size: 3rem;
        }
    }

    @media (max-width: $screen-tablet) {
        position: relative;
        min-height: 20vh;
        width: 100%;    
        top: 0;
        left: 0;
        transform: none;
    }
}