// Bootstrap like Grid system

$unit-zero: 0;
$unit-one: calc(100% / 12);
$unit-two: calc(100% / 12 * 2);
$unit-three: calc(100% / 12 * 3);
$unit-four: calc(100% / 12 * 4);
$unit-five: calc(100% / 12 * 5);
$unit-six: calc(100% / 12 * 6);
$unit-seven: calc(100% / 12 * 7);
$unit-eight: calc(100% / 12 * 8);
$unit-nine: calc(100% / 12 * 9);
$unit-ten: calc(100% / 12 * 10);
$unit-eleven: calc(100% / 12 * 11);
$unit-twelve: 100%;