// Colors
$base_color:        #646464;
$primary_blue:      #1e1d62;
$secondary_blue:    #57e5ca;
$pale_blue:         #49B3B0;
$bright_blue:       #0252c6;
$yellow:            #FFC757;
$white:             #ffffff;
$black:             #1a1a1a;
$light-gray:        #cecbcb;

// Dynamic colours
$octalLimit:        255;
$percentLimit:      100;
$colours: 'red', 'green', 'blue', 'darkorange', 'purple', 'indigo', 'black', 'brown', 'palevioletred', 'deeppink', 'slategray', 'peru';

//Font folder path
$font-path: "path/to/font";

// Typography
// Font, line-height, and color for body text, headings, and more.

$font-family-inter-thin:            "inter_thin";
$font-family-inter-extra-light:     "inter_extra_light";
$font-family-inter-light:           "inter_light";
$font-family-inter-regular:         "inter_regular";
$font-family-inter-medium:          "inter_medium";
$font-family-inter-semi-bold:       "inter_semi_bold";
$font-family-inter-bold:            "inter_bold";
$font-family-inter-extra-bold:      "inter_extra_bold";
$font-family-inter-black:           "inter_black";
$font-family-work-sans:             "work_sans";
$font-size-base:          16px;
$font-size-h1:            2.5rem;   // 40px
$font-size-h2:            1.75rem;  // 28px
$font-size-h3:            1.5rem;   // 24px
$font-size-h4:            1.25rem;  // 20px
$font-size-h5:            1rem;     // 16px
$font-size-h6:            0.875rem; // 14px
$line-height-base:        1.3;

$font-size-h1-mobile:     1.5rem;   // 24px
$font-size-h2-mobile:     1.25rem;  // 20px
$font-size-h3-mobile:     1.125rem; // 18px
$font-size-h4-mobile:     1.063rem; // 17px

// Small screen desktop
$screen-large-desktop:      1400px;
$screen-desktop:            1300px;

// Tablet
$screen-large-tablet:        1024px;
$screen-tablet:              768px;

// Mobile
$screen-mobile:              480px;

// Layout
$gutter-size: 15px;

// helpers
$interact: '&:hover, &:focus, &:active';